/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

/* Global Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #413D43;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 3052px;
    padding-left: 15%;
    padding-right: 15%;
    background: url('./background-tile.png') #ffffff59;
    background-blend-mode: lighten;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    /*overflow: hidden; cannot scroll without it*/
}

a {
    text-decoration: none;
    color: #413D43;
}

/* Navbar */

nav {
    font-family: 'Roboto Mono', monospace;
    width: 100vw;
    height: 100px;
    padding: 26px 15%;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

nav h3 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.67rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: #9C39C6;
    filter: drop-shadow(0px 0px 5px #9c39c680);
    transition: filter 300ms ease;
}

nav h3:hover {
    filter: none;
}

nav h3 > a {
    height: auto;
}

nav > ul {
    display: flex;
}

nav h4 {
    opacity: 0.7;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.67rem;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    margin-left: 44px;
    transition: text-decoration 100ms ease, opacity 100ms ease;
}

nav h4::before {
    content: '_';
    color: #413d4300;
    text-decoration: underline #C79F4E;
}

nav h4:hover {
    text-decoration: underline #C79F4E;
}

nav h4:active {
    color: #C79F4E;
    opacity: 1;
}

div#menu-icon {
    display: none;
    filter: drop-shadow(0px 0px 5px #9c39c650);
    transition: filter 300ms ease;
}

div#menu-icon:hover {
    filter: none;
    cursor: pointer;
}

div.menu-rect {
    background: #413D43;
    width: 1.5rem;
    height: 0.25rem;
    margin: 0.25rem 0;
}

/* Keyframes & Animation for menu icon */

div.menu-rect:first-child.open {
    animation: open-1 1500ms forwards;
}

div.menu-rect:nth-child(2).open {
    animation: open-2 2500ms forwards;
}

div.menu-rect:last-child.open {
    animation: open-3 1500ms forwards;
}

@keyframes open-1 {
    0% {

    }

    50% {
        transform: translateY(0.5rem);
    }

    100% {
        transform: rotate(45deg);
        transform-origin: 0 calc(50% - 0.1rem);
    }
}

@keyframes open-2 {
    0% {

    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes open-3 {
    0% {

    }

    50% {
        transform: translateY(-0.5rem);
    }

    100% {
        transform: rotate(-45deg);
        transform-origin: 0 calc(50% + 0.1rem);
    }
}

/* Main */

main {
    width: 100%;
    position: relative;
    top: 100px;
}

section > h3 {
    color: #413D4300;
    position: absolute;
    display: block;
}

section#contacts > h3 {
    bottom: 20rem;
}

/* Top section */

section#top {
    width: 100%;
    height: calc(100vh - 100px - 194px);
    padding: 0;
    margin-bottom: 194px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header {
    padding-top: 194px;
}

header > h1 {
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2.33rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

header > h1::first-line {
    color: #C79F4E;
}

header > h2 {
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.67rem;
    letter-spacing: 0.155rem;
    text-transform: lowercase;
    opacity: 0.7;
    margin-top: 2rem;
}

button#CTA-cstyle {
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.67rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #9C39C6;
    box-shadow: 0px 10px 30px #9c39c640;
    width: 311px;
    height: 69px;
    border: none;
    cursor: pointer;
    transition: box-shadow 300ms ease-out, background-color 100ms ease;
}

button#CTA-cstyle:hover {
    box-shadow: none;
}

button#CTA-cstyle:active {
    background-color: #C79F4E;
    box-shadow: none;
}

/* Works section */

section#works {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

section#works > h3 {
    width: 100%;
    align-self: flex-start;
}

div.works-card {
    width: 281px;
    height: 350px;
}

div.works-card-image-container {
    width: 100%;
    height: calc(100% / 2);
}

div.works-card-text-container {
    background-color: #DAC08B;
    width: 100%;
    height: calc(100% / 2);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.works-card-text-container > h4 {
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.67rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin-top: 26px;
}

div.works-card-text-container > p {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: normal;
    line-height: 0.875rem;
    letter-spacing: 0.05rem;
    margin-top: 26px;
}

div.works-card-image-container.calc {
    background: url(../img/calc.jfif) center/100% no-repeat;
    z-index: -1;
}

div.works-card-image-container.tic-tac-toe {
    background: url(../img/tic-tac-toe.jfif) center/100% no-repeat;
    z-index: -1;
}

div.colouring-film {
    background: #9C39C6;
    opacity: 0.35;
    width: 100%;
    height: 100%;
    transition: opacity 300ms ease;
}

/* Skills */

section#skills {
    width: 100%;
    height: 100vh;
}

#skills-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: stretch;
}

div.skills-card {
    width: 100%;
    height: 117px;
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

div.skills-card-description > p {
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.67rem;
    letter-spacing: 0.05rem;
}

div.skills-card-icon-container {
    width: 54px;
    height: 60px;
    transition: background-image 300ms ease;
}

div.skills-card-icon-container.html {
    background: url(../img/icons/html-mono.svg);
}

div.skills-card-icon-container.css {
    background: url(../img/icons/css-mono.svg);
}

div.skills-card-icon-container.js {
    background: url(../img/icons/js-mono.svg);
    height: 54px;
}

div.skills-card-icon-container.figma {
    background: url(../img/icons/figma-mono.svg);
    height: 81px;
    shape-rendering: crispEdges;
}

div.skills-card-level {
    width: calc(7 * (40px + 0.5rem));
    display: flex;
    justify-content: flex-end;
}

div.level-fraction {
    color: #C79F4E;
    background: #C79F4E;
    width: 40px;
    height: 54px;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: background-color 300ms ease;
}

div.level-fraction:first-child {
    color: #DAC08B;
    background: #DAC08B;
}

div.level-fraction > span {
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

/* Contacts section */

section#contacts {
    width: 100%;
    height: calc(100vh - 10rem);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

div.contact-card {
    background: #DAC08B;
    width: 13.75rem;
    height: 11.67rem;
    padding: 0 1.67rem;
}

div.contact-card-image-container {
    background: url(../img/personal-photo.jfif) center/130% no-repeat #A8C7B8;
    background-position: -0.2rem 0.01rem;
    width: 5.25rem;
    height: 5.25rem;
    border-radius: 50%;
    position: relative;
    left: calc(50% - 5.25rem / 2);
    top: calc(-5.25rem / 2);
}

div.contact-card-description > h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.167rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin-top: calc(1.67rem - 5.25rem / 2);
    margin-bottom: 0.875rem;
}

div.contact-card-description > p {
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.167rem;
    letter-spacing: 0.05rem;
}

div.contact-card-contacts {
    display: flex;
    flex-flow: column nowrap;
}

div.contact {
    margin-top: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

div.contact-icon-container {
    width: 2.25rem;
    margin-right: 2rem;
    transition: background-image 300ms ease;
}

div.contact-icon-container.github {
    background: url(../img/icons/github-mono.svg) center/100% no-repeat;
    height: 2.25rem;
}

div.contact-icon-container.gmail {
    background: url(../img/icons/gmail-mono.svg) center/100% no-repeat;
    height: 2.25rem;
}

div.contact > a {
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.167rem;
    letter-spacing: 0.05rem;
    text-decoration: underline #9C39C6;
    transition: color 100ms ease;
}

div.contact > a:hover {
    text-decoration: none;
}

div.contact > a:active {
    color: #C79F4E;
}

/* Footer */

footer {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 200;
    line-height: 0.875rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 2rem;
}

/* Media queries */

/* Desktop */

@media screen and (max-width: 1080px) /*and (orientation: landscape)*/ {

    /* Navbar */

    span.nav-name.v-part {
        display: none;
    }

    nav h3::after {
        content: '.';
    }

    nav h4 {
        display: none;
    }

    div#menu-icon {
        display: block;
    }

}