/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

/* Global Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #413D43;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 3052px;
    padding-left: 15%;
    padding-right: 15%;
    background: url('./background-tile.png') #ffffff59;
    background-blend-mode: lighten;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    /*overflow: hidden; cannot scroll without it*/
}

a {
    text-decoration: none;
    color: #413D43;
}

/* Navbar */

nav {
    font-family: 'Roboto Mono', monospace;
    width: 100vw;
    height: 4.167rem;
    padding: 26px 15%;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

nav h3 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.67rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: #9C39C6;
    white-space: nowrap;
    filter: drop-shadow(0px 0px 5px #9c39c680);
    transition: filter 300ms ease;
}

nav h3:hover {
    filter: none;
}

nav > ul {
    display: flex;
}

nav h4 {
    opacity: 0.7;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.67rem;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    margin-left: 1.5rem;
    transition: text-decoration 100ms ease, opacity 100ms ease;
}

nav h4::before {
    content: '_';
    color: #413d4300;
    text-decoration: underline #C79F4E;
}

nav h4:hover {
    text-decoration: underline #C79F4E;
}

nav h4:active {
    color: #C79F4E;
    opacity: 1;
}

div#menu-icon {
    display: none;
    filter: drop-shadow(0px 0px 5px #9c39c650);
    transition: filter 300ms ease;
}

div#menu-icon:hover {
    filter: none;
    cursor: pointer;
}

div.menu-rect {
    background: #413D43;
    width: 1.5rem;
    height: 0.25rem;
    margin: 0.25rem 0;
}

/* Keyframes & Animation for menu icon */

div.menu-rect:first-child.open {
    animation: open-1 1000ms forwards;
}

div.menu-rect:nth-child(2).open {
    animation: open-2 1000ms forwards;
}

div.menu-rect:last-child.open {
    animation: open-3 1000ms forwards;
}

@keyframes open-1 {
    0% {

    }

    50% {
        transform: translateY(0.5rem);
    }

    100% {
        transform: rotate(45deg);
        transform-origin: 0 calc(50% - 0.1rem);
    }
}

@keyframes open-2 {
    0% {

    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes open-3 {
    0% {

    }

    50% {
        transform: translateY(-0.5rem);
    }

    100% {
        transform: rotate(-45deg);
        transform-origin: 0 calc(50% + 0.1rem);
    }
}

div.menu-rect:first-child.close {
    animation: close-1 1000ms forwards reverse;
}

div.menu-rect:nth-child(2).close {
    animation: close-2 1000ms forwards reverse;
}

div.menu-rect:last-child.close {
    animation: close-3 1000ms forwards reverse;
}

@keyframes close-1 {
    0% {

    }

    50% {
        transform: translateY(0.5rem);
    }

    100% {
        transform: rotate(45deg);
        transform-origin: 0 calc(50% - 0.1rem);
    }
}

@keyframes close-2 {
    0% {

    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes close-3 {
    0% {

    }

    50% {
        transform: translateY(-0.5rem);
    }

    100% {
        transform: rotate(-45deg);
        transform-origin: 0 calc(50% + 0.1rem);
    }
}

span#dot {
    display: none;
}

/* Main */

main {
    width: 100%;
    position: relative;
    top: 4.167rem;
}

section > h3 {
    color: #413D4300;
    position: absolute;
    display: block;
}

section#contacts > h3 {
    bottom: 20rem;
}

/* Top section */

section#top {
    width: 100%;
    height: calc(100vh - 4.167rem - 194px);
    padding: 0;
    margin-bottom: 194px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header {
    padding-top: 194px;
}

header > h1 {
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2.33rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

header > h1::first-line {
    color: #C79F4E;
}

header > h2 {
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.67rem;
    letter-spacing: 0.155rem;
    text-transform: lowercase;
    opacity: 0.7;
    margin-top: 2rem;
}

button#CTA-cstyle {
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.67rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #9C39C6;
    box-shadow: 0rem 0.5rem 1.25rem #9c39c640;
    width: 13rem;
    height: 3rem;
    margin-left: 3rem;
    border: none;
    cursor: pointer;
    transition: box-shadow 300ms ease-out, background-color 100ms ease;
}

button#CTA-cstyle:hover {
    box-shadow: none;
}

button#CTA-cstyle:active {
    background-color: #C79F4E;
    box-shadow: none;
}

/* Works section */

section#works {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

section#works > h3 {
    width: 100%;
    align-self: flex-start;
}

div.works-card {
    width: 11.67rem;
    height: 15rem;
    min-width: 228px;
}

div.works-card:not(:nth-child(2)) {
    margin-left: 1rem;
}

div.works-card-image-container {
    width: 100%;
    height: 50%;
}

div.works-card-text-container {
    background-color: #DAC08B;
    text-align: center;
    width: 100%;
    height: 50%;
    padding: 0.5rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.works-card-text-container > h4 {
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.67rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

div.works-card-text-container > p {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: normal;
    line-height: 0.875rem;
    letter-spacing: 0.05rem;
    margin-top: 1rem;
}

div.works-card-image-container.calc {
    background: url(../img/calc.jfif) center/100% no-repeat;
    z-index: -1;
}

div.works-card-image-container.tic-tac-toe {
    background: url(../img/tic-tac-toe.jfif) center/120% no-repeat;
    z-index: -1;
}

div.colouring-film {
    background: #9C39C6;
    opacity: 0.35;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: opacity 300ms ease;
}

/* Skills section */

section#skills {
    width: 100%;
    height: 100vh;
}

#skills-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
}

div.skills-card {
    width: 100%;
    height: 5rem;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

div.skills-card-description > p {
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.67rem;
    letter-spacing: 0.05rem;
}

div.skills-card-icon-container {
    width: 2.25rem;
    height: 2.5rem;
    transition: background-image 300ms ease;
}

div.skills-card-icon-container.html {
    background: url(../img/icons/html-mono.svg) center/100% no-repeat;
}

div.skills-card-icon-container.css {
    background: url(../img/icons/css-mono.svg) center/100% no-repeat;
}

div.skills-card-icon-container.js {
    background: url(../img/icons/js-mono.svg) center/100% no-repeat;
    height: 2.25rem;
}

div.skills-card-icon-container.figma {
    background: url(../img/icons/figma-mono.svg) center/100% no-repeat;
    height: 3.375rem;
    shape-rendering: crispEdges;
}

div.skills-card-level {
    width: calc(7 * (1.67rem + 0.5rem));
    display: flex;
    justify-content: flex-end;
}

div.level-fraction {
    color: #C79F4E;
    background: #C79F4E;
    width: 1.67rem;
    height: 2.25rem;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: background-color 300ms ease;
}

div.level-fraction:first-child {
    color: #DAC08B;
    background: #DAC08B;
}

div.level-fraction > span {
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

div.skills-card-level-m {
    width: 54px;
    height: calc((0.5rem + 0.625rem) * 6);
    position: relative;
    bottom: calc((0.5rem + 0.625rem) * 7);
    display: none;
    flex-flow: column-reverse nowrap;
}

div.level-fraction-m {
    background: #C79F4E;
    width: 100%;
    height: 0.625rem;
    margin-bottom: 0.5rem;
}

div.level-fraction-m:last-child {
    background: #DAC08B;
}

span.mobile-only-span {
    display: none;
}

/* Contacts section */

section#contacts {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

div.contact-card {
    background: #DAC08B;
    width: 13.75rem;
    min-width: 13rem;
    height: 11.67rem;
    padding: 0 1.5rem;
}

div.contact-card-image-container {
    background: url(../img/personal-photo.jfif) center/130% no-repeat #A8C7B8;
    background-position: -0.2rem 0.01rem;
    width: 5.25rem;
    height: 5.25rem;
    border-radius: 50%;
    position: relative;
    left: calc(50% - 5.25rem / 2);
    top: calc(-5.25rem / 2);
}

div.contact-card-description > h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.167rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin-top: calc(1.67rem - 5.25rem / 2);
    margin-bottom: 0.875rem;
}

div.contact-card-description > p {
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.167rem;
    letter-spacing: 0.05rem;
}

div.contact-card-contacts {
    height: 11.67rem;
    margin-left: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

div.contact {
    margin-top: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

div.contact-icon-container {
    width: 2.25rem;
    margin-right: 2rem;
    transition: background-image 300ms ease;
}

div.contact-icon-container.github {
    background: url(../img/icons/github-mono.svg) center/100% no-repeat;
    height: 2.25rem;
}

div.contact-icon-container.gmail {
    background: url(../img/icons/gmail-mono.svg) center/100% no-repeat;
    height: 2.25rem;
}

div.contact > a.contact-full-url {
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.167rem;
    letter-spacing: 0.05rem;
    text-decoration: underline #9C39C6;
    transition: color 100ms ease;
}

div.contact > a.contact-full-url:hover {
    text-decoration: none;
}

div.contact > a.contact-full-url:active {
    color: #C79F4E;
}

/* Footer */

footer {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 200;
    line-height: 0.875rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 2rem;
    position: relative;
    top: 2rem;
}

/* Media queries */

/* Small Laptops */

@media screen and (max-width: 1024px) {
    
    /* Global Styles */

    html {
        font-size: 20px;
    }

    /* Navbar */

    span.nav-name.v-part {
        display: none;
    }

    nav h3::after {
        content: '.';
    }

    /* Works section */

    section#works {
        flex-flow: wrap;
        align-content: center;
    }

    div.works-card {
        width: 100%;
        height: 10rem;
        margin: 0;
    }

    div.works-card:not(:nth-child(2)) {
        margin-left: 0;
    }

    div.works-card-image-container {
        height: 100%;
    }

    div.works-card-text-container {
        color: #ffffff;
        background: none;
        height: 100%;
        position: relative;
        bottom: 100%;
        z-index: 0;
        justify-content: center;
    }

    /* Contacts section */

    br.contact-break {
        display: none;
    }

    div.contact > a {
        font-size: 0.8rem;
    }

}

/* Tablets */

@media screen and (max-width: 768px) {

    /* Navbar */

    nav.active {
        justify-content: flex-end;
    }

    nav > a.active {
        margin-right: auto;
    }

    nav > ul.active {
        background: hsl(280, 5%, 25%, 0.75);
        width: 10rem;
        height: 8rem;
        padding: 5% 0;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        transition: background-color 300ms ease;
    }

    nav > ul.active:hover {
        background: hsl(280, 5%, 25%, 1);
    }

    nav h4.active::before {
        content: '_';
        color: #413d4300;
        text-decoration: underline #C79F4E;
    }

    nav h4.active {
        color: #ffffff;
        display: block;
    }

    nav h4 {
        margin-left: 1rem;
        display: none;
    }

    div#menu-icon {
        margin-left: 1rem;
        display: block;
    }

    /* Top section */

    section#top {
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    button#CTA-cstyle {
        width: 100%;
        margin-left: 0;
    }

    /* Skills section */
    
    section#skills {
        display: flex;
        align-items: center;
    }

    #skills-container {
        height: 50%;
        margin-top: 25%;
        justify-content: space-around;
    }

    div.skills-card {
        justify-content: flex-start;
    }

    div.skills-card:nth-child(even) {
        flex-direction: row-reverse;
    }

    div.skills-card-icon-container:nth-child(2) {
        margin: 0 2rem;
    }
    
    div.skills-card-level {
        display: none;
    }

    div.skills-card-level-m {
        display: flex;
    }

    div.skills-card:last-child {
        display: none;
    }
    
    span.mobile-only-span {
        display: inline;
    }

    /* Contacts section */

    section#contacts {
        flex-flow: column nowrap;
        justify-content: center;
    }

    div.contact-card-contacts {
        height: auto;
        flex-flow: row nowrap;
    }

    div.contact > a.contact-full-url {
        display: none;
    }

}

/* Mobile L */

@media screen and (max-width: 425px) {
    
    /* Global Styles */

    html {
        font-size: 18px;
    }

    /* Navbar */

    nav > ul.active {
        width: 70vw;
        height: 200%;
        position: absolute;
        top: 80px;
        float: right;
    }

    nav h4 {
        margin-left: 1rem;
    }

}