/* Navbar */

nav {
    background: linear-gradient(to right top, hsla(0, 0%, 100%, 0.3), hsla(282, 53%, 83%, 0.3));
    filter: drop-shadow(0 4px 4px hsla(280, 53%, 83%, 0.2));
    backdrop-filter: blur(3px);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

nav > ul.active {
    background: linear-gradient(to left bottom, hsla(282, 55%, 50%, 0.3), hsla(280, 5%, 25%, 0));
    /*filter: drop-shadow(0 4px 4px hsla(280, 53%, 83%, 0.2));*/
    border: 1px solid hsla(282, 55%, 95%, 0.1);
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
}

nav > ul.active:hover {
    background: hsla(282, 55%, 50%, 0.3);
}

nav h4.active {
    color: #413D43;
    font-weight: bold;
}