nav {
    background: linear-gradient(to right top, hsla(0, 0%, 100%, 0.3), hsla(282, 53%, 83%, 0.3));
    filter: drop-shadow(0 4px 4px hsla(282, 53%, 83%, 0.2));
    backdrop-filter: blur(3px);
    border: 2px solid hsla(0, 0%, 100%, 0.1);
}