/* Global Styles */

body {
    background: url('./background-tile.png');
}

/* Navbar */

nav {
    background: linear-gradient(to right top, #ffffff4d, #ddbdeb4d);
    box-shadow: 0rem 0.25rem 1.25rem #9c39c640;
    backdrop-filter: blur(4px);
    opacity: 0.8;
    border-bottom: 1px solid #ffffff1a;
    padding: 1rem calc(6.5rem + 4rem);
    transition: all 700ms ease;
}

nav:hover {
    filter: drop-shadow(0 0.5rem 1rem #9c39c638);
    box-shadow: 0rem 0.25rem 2rem #9c39c638;
    opacity: 1;
}

nav > ul.active {
    background: linear-gradient(to left bottom, #9c39c64d, #413d4300);
    /*filter: drop-shadow(0 4px 4px hsla(280, 53%, 83%, 0.2));*/
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
}

nav > ul.active:hover {
    background: #9c39c618;
}

nav h4.active {
    color: #413D43;
    font-weight: bold;
}

/* Top Section */

header {
    background: linear-gradient(to right top, #ffffff4d, #ddbdeb4d);
    box-shadow: 0rem 0.25rem 1.25rem #9c39c640;
    backdrop-filter: blur(2px);
    opacity: 0.8;
    border: 1px solid #ffffff1a;
    border-radius: 2rem;
    padding: 2rem 4rem;
    transition: all 700ms ease;
}

header:hover {
    filter: drop-shadow(0 0.5rem 1rem #9c39c638);
    box-shadow: 0rem 0.25rem 2rem #9c39c638;
    opacity: 1;
}

button#CTA-cstyle {
    color: #9c39c6;
    background: linear-gradient(to right top, #ffffff4d, #ddbdeb4d);
    box-shadow: 0rem 0.25rem 1.25rem #9c39c6;
    backdrop-filter: blur(2px);
    opacity: 0.8;
    border: 1px solid #ffffff1a;
    border-radius: 2rem;
    margin-right: 4rem;
    transition: all 700ms ease;
}

button#CTA-cstyle:hover {
    opacity: 1;
}

/* Works Section */

section#works {
    padding: 0 4rem;
}

div.works-card {
    border-radius: 2rem;
    background: linear-gradient(to right top, #ffffff4d, #ddbdeb4d);
    opacity: 0.8;
    border: 1px solid #ffffff1a;
    backdrop-filter: blur(2px);
    box-shadow: 0rem 0.25rem 1.25rem #9c39c640;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    transition: all 700ms ease;
}

div.works-card-image-container {
    background: linear-gradient(to right top, #ffffff4d, #ddbdeb4d);
    box-shadow: 0rem 0.25rem 0.5rem #9c39c640;
    opacity: 0.8;
    border-radius: 2rem;
    width: 80%;
    margin-top: 1rem;
    transition: all 700ms ease;
}

div.works-card-text-container {
    background: none;
    border-radius: 0 0 2rem 2rem;
}

div.colouring-film {
    backdrop-filter: blur(2px);
    border-radius: 2rem;
}

div.works-card:hover {
    filter: drop-shadow(0 0.5rem 1rem #9c39c638);
    box-shadow: 0rem 0.25rem 2rem #9c39c638;
    opacity: 1;
}